{% load static %}{% spaceless %}{% load compress %}<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//ajax.googleapis.com">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        {% block head %}{% endblock %}
        {% block head_js %}{% endblock %}
        <style id="antiClickjack">body{display:none !important;}</style>
        <script type="text/javascript">if(self===top){var antiClickjack=document.getElementById("antiClickjack");antiClickjack.parentNode.removeChild(antiClickjack)}else top.location=self.location;</script>
    </head>
    <body class="grey lighten-3">
        <header>
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="page-footer">
            {% block footer %}{% endblock %}
        </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {% block footer_js %}{% endblock %}
    </body>
    </html>
{% endspaceless %}
