{% extends 'base.html' %}{% load static %}{% load compress %}

{% block title %}Rekha.Io{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block head_js %}{% endblock %}


{% block header %}
    {% include 'common/_head_nav_links.html' %}
{% endblock %}


{% block main %}
    <div id="home-app"></div>
{% endblock %}


{% block footer %}{% endblock %}


{% block footer_js %}
    {% compress js %}
        <script type="text/javascript">
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();
        </script>
        <script type="text/javascript" src="{% static 'js/r/home/home.app.js' %}"></script>
    {% endcompress %}
{% endblock %}
