@import url('https://fonts.googleapis.com/css?family=Nunito|Lato:400,700|Raleway:500,600');

/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif !important;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: transparent !important;
}

.footer-copyright {
    color: black !important;
}

._logo {
    font-family: 'Nunito', sans-serif !important;
}