<ul id="account_action_dd" class="dropdown-content">
    {% if request.user.is_authenticated %}
        <li class="divider"></li>
        <li><a href="{% url 'accounts:action_logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'accounts:action' %}">Sign up</a></li>
        <li><a href="{% url 'accounts:action' %}?_req=login">Login</a></li>
    {% endif %}
</ul>
<nav class="white">
    <div class="container">
        <div class="row">
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo black-text _logo">Rekha.Io</a>
                <a href="" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-trigger" href="" data-target="account_action_dd">
                            <i class="material-icons right black-text">arrow_drop_down</i></a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'accounts:action' %}">Sign up</a></li>
                        <li><a href="{% url 'accounts:action' %}?_req=login">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="sidenav" id="mobile-nav">
                    {% if request.user.is_authenticated %}
{#                        <li class="divider"></li>#}
                        <li><a href="{% url 'accounts:action_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:action' %}">Sign up</a></li>
                        <li><a href="{% url 'accounts:action' %}?_req=login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
